* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: "Ubuntu", helvetica;
}

a {
    text-decoration: none;
    color: #4586f5;
    transition: .5s ease;
}

a:hover {
    color: #011C40;
}

.container-form {
    background: #FFFFFF;
    padding: 40px;
    max-width: 600px;
    margin:120px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.container-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.container-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.container-tabs li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #9FB0BF;
    color: #FFFFFF;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.container-tabs li a:hover {
    background: #011C40;
    color: #4586f5;
}

.container-tabs .active a {
    background: #4586f5;
    color: #FFFFFF;
}

.container-tab>div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #000000;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: #4586f5;
    transition: all 0.25s ease;
    overflow: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #4586f5;
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #4586f5;
}

input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #4586f5;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #4586f5;
}

.container-input {
    position: relative;
    margin-bottom: 40px;
}

.fila-arriba:after {
    content: "";
    display: table;
    clear: both;
}

.fila-arriba div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.fila-arriba div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: #4586f5;
    color: #fff;
    transition: all .5s ease;
}

.button:hover,
.button:focus {
    background: #011C40;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .fila-arriba div {
        width: 100%;
    }

    .fila-arriba div:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-tabs li a {
        width: 100%;
    }
}